
/* RESET */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}

/****************************** HEADER ******************************/

header{
    background-color: rgb(237, 114, 46);
    width: 100%;
    height: 55px;
    font-size: 14px;
}

header.fixed{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 30;
}

.big-container{
    width: 75%;
    margin: 0 auto;
    height: 100%;
}

header .header-flex-container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}
header a{
    color: white;
    text-decoration: none;
}
.gender a{
    font-weight: bold;
}
.logo{
    flex-grow: 1;
    text-align: center;
}

.logo img{
max-width: 120px;
}
.header-flex-container a{
    padding: 0 0 0 5px;
}

/****************************** MAIN ******************************/

main{
    margin-top: 100px;

}

main .flex-container{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-between;
}

.card{
    height: 580px;
    width: 32.2%;
    background-color: orange;
    position: relative;
}

.card img{
    width: 100%;
}

/*********** SOSTITUZIONE FOTO ***********/
.none{
    display: none;
}
.image:hover>.disappear{
    display: none;

}
.image:hover>.none{
    cursor: pointer;
    display: block;
}
/*********** FINE SOSTITUZIONE FOTO ***********/


/*********** CUORE ROSSO ***********/
.favourite-flex:hover{
    cursor: pointer;
    color:red;
}

.favourite-flex{
    width: 35px;
    height: 35px;
    background-color: white;
    position: absolute;
    top: 7px;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lables{
    position: absolute;
    left: 0;
    bottom: 115px;
    color: white;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
}

.lables>*{
    display: inline-block;
    padding: 4px 5px;
}

.discount{
    background-color: red;
}

.green{
    background-color: green;
}

.description{
    width: 100%;
    height: 15%;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
}

.description>*{
    font-size: 11px;
}

.product-name{
    font-size: 13px;
    font-weight:bold;
}
.red-price{
    font-weight: bold;
    color: red;
}
.black-price{
    text-decoration: line-through;
}

/****************************** FOOTER ******************************/


footer{
    background-color: black;
    /* width: 100%; */
    height: 75px;
}

.footer-flex-container{
    display: flex;
    justify-content: space-between;
    padding: 10px 0 10px 0;   
}

.footer-flex-container>* {
    padding: 10px 0 10px 0;
    color: white;
}
.company-name{
    font-size: 14px;
    font-weight: bold;
}
.privacy a{
    text-decoration: none;
    color: white;
    font-size: 11px;
    padding-right: 5px;
}

.find-us{
    font-size: 11px;
    font-weight: bold;
}

.footer-icons{
    color: white;
    margin-top: 5px;
}

.footer-icons a{
    color: white;
    padding: 2px; 
}


/****** DEBUG HEADER ******/
.debug header{
    background-color: orangered;
    width: 100%;
    height: 55px;
}
/* FISSO L'HEADER IN ALTO */
.debug header.fixed{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 30;
}

/* DEBUG HEADER BIG CONTAINER */
.debug .big-container{
    width: 75%;
    margin: 0 auto;
    height: 100%;
}

/* DEBUG HEADER CONTAINER */
.debug header .header-flex-container{
    background-color: pink;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

/* DEBUG HEADER LEFT SIDE */
.debug .gender{
    background-color: greenyellow;
}

/* DEBUG HEADER CENTER */
.debug .logo{
    background-color: yellow;
    flex-grow: 1;
    text-align: center;
}

/* DEBUG HEADER LEFT RIGHT */
.debug .header-icons{
    background-color: aqua;
}


/****** DEBUG MAIN ******/

/* STACCO IL CONTENUTO DEL MAIN DALLA CIMA DELLA PAGINA */
.debug main{
    margin-top: 100px;

}
/* CONTENITORE MAIN FLEX */
.debug main .flex-container{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-between;
}

/* CONTENITORI PRODOTTI */
.debug .card{
    height: 580px;
    width: 32.2%;
    background-color: orange;
    border: 1px dashed black;
    position: relative;
}

/* DESCRIZIONI PRODOTTI */
.debug .description{
    width: 100%;
    height: 15%;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
}

/* SIMBOLO DEL CUORE */
.debug .favourite{
    width: 35px;
    height: 35px;
    background-color: white;
    position: absolute;
    top: 7px;
    right: 0;
}

/* SCONTO SUL PREZZO */
.debug .discount{
    width: 50px;
    height: 20px;
    background-color: red;
    display: inline-block;
}

/* SOSTENIBILITA' */
.debug .green{
    width: 100px;
    height: 20px;
    background-color: green;
    display: inline-block;
}

/* CONTENITORE DELLE DUE ETICHETTE COLORATE */
.debug .lables{
    position: absolute;
    left: 0;
    bottom: 115px;
}

/****** DEBUG FOOTER ******/
.debug footer{
    background-color: black;
    width: 100%;
    height: 75px;
}

/* FLEX CONTAINER DEL FOOTER */
.debug .footer-flex-container{
    display: flex;
    justify-content: space-between;
    padding: 10px 0 10px 0;   
}

/* CONTENITORI FIGLI DEL FLEX CONTAINER */
.debug .footer-flex-container>* {
    width: 20%;
    height: 50px;
    background-color: blueviolet;  
    border: 1px dashed skyblue;
    padding: 10px 0 10px 0;
}

/* CONTENITORE ALTO SINITRO*/
.debug .company-name{
    background-color: cyan;
    height: 15px;
    width: 60%;
}

/* CONTENITORE BASSO SINITRO*/
.debug .privacy{
    background-color: red;
    height: 15px;
    width: 100%;
}

/* CONTENITORE ALTO DESTRO*/
.debug .find-us{
    background-color: cyan;
    height: 15px;
    width: 60%;
    margin: 0 auto;
}

/* CONTENITORE BASSO DESTRO */
.debug .footer-icons{
    background-color: red;
    height: 20px;
    width: 60%;
    margin: 0 auto;
}